{% load static %}



<div class="container-fluid-">
    <div class="container-">
        <div class="row text-center">
            <div class="col-6 col-lg-3 product-list">
                <a class="text-dark" href="#">
                    <img src="{% static 'images/featured/demo1.jpg' %}" alt="demo" class="img-fluid">
                    <span class="product-list-item-name" title="Demo-Product">Demo-Product</span>
                </a>
                <div class="panel-footer">
                    <span class="currency">$</span>
                    <span>89.33</span>
                </div>
            </div>

            <div class="col-6 col-lg-3 product-list">
                <a class="text-dark" href="#">
                    <img src="{% static 'images/featured/demo1.jpg' %}" alt="demo" class="img-fluid">
                    <span class="product-list-item-name" title="Demo-Product">Demo-Product</span>
                </a>
                <div class="panel-footer">
                    <span class="currency">$</span>
                    <span>89.33</span>
                </div>
            </div>

            <div class="col-6 col-lg-3 product-list">
                <a class="text-dark" href="#">
                    <img src="{% static 'images/featured/demo1.jpg' %}" alt="demo" class="img-fluid">
                    <span class="product-list-item-name" title="Demo-Product">Demo-Product</span>
                </a>
                <div class="panel-footer">
                    <span class="currency">$</span>
                    <span>89.33</span>
                </div>
            </div>

            <div class="col-6 col-lg-3 product-list">
                <a class="text-dark" href="#">
                    <img src="{% static 'images/featured/demo1.jpg' %}" alt="demo" class="img-fluid">
                    <span class="product-list-item-name" title="Demo-Product">Demo-Product</span>
                </a>
                <div class="panel-footer">
                    <span class="currency">$</span>
                    <span>89.33</span>
                </div>
            </div>
        </div>
    </div>
</div>