{% extends '../base.html' %}

{% block main %}

    {% include 'global_nav.html' %}
    
    {% include 'nav_menu.html' %}

    {% include './carousel.html' %}

    <br>
    <div class="container-fluid">
        <div class="container">
            <h2 class="text-center">推荐产品</h2>
            {% include './featured_products.html' %}
            {% include './featured_products.html' %}
            {% include './featured_products.html' %}
        </div>
    </div>
    <br>
    <br>
    
    {% include 'footer.html' %}
    
{% endblock %}