body {
    position: relative;
    margin: 0;
}
.footer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    font-size: 0.8rem;
    border-top: 1px dashed #ddd;
    padding: 1rem 0;
    margin-top: 2rem;
}


.breadcrumb {
    font-size: 16px;
    background-color: white;
}

a:hover {
    text-decoration: none;
}

.form-control, .input-group-text {
    background-color: #ffffff;
    border: 1px solid #d3d1d0;
    border-radius: 0;
    border-color: #28a745;
}

.line-through {
    text-decoration: line-through;
}

.variant-picker {
    border: 1px solid #ddd;
    border-radius: 0;
}
.variant-picker input {
    display: none;
}

.variant-picker.active {
    background-color: #e6e6e6;
}

.btn-outline-secondary {
    height: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

div.product-details {
    padding-bottom: 0.5rem;
}


@media (max-width: 767.98px) {
    .navbar__menu .navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 160px;
        z-index: 1;
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        -webkit-transition: height .3s;
        transition: height .3s;
        left: 0;
        box-shadow: 1px 1px 10px 1px #d3d1d0;
    }

    .navbar__menu .navbar-nav {
        padding-top: 0.3rem;
    }
}


/* Home Page */
.text-sm {
    font-size: 0.2rem;
}
.featured-card-footer {
    padding: .1rem 1.25rem 0.75rem 1.25rem;
    background-color:none;
    border-top: none;
}
.card-body {
    padding: .75rem;
    padding-bottom: 0.1rem;
}
.product-list {
    border: none;
}