{% load static %}
<div class="container-fluid">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-info">首页</a></li>
                {% for breadcrumb_cn_name in breadcrumb_cn_names %}
                    <li class="breadcrumb-item active text-info" aria-current="page">{{breadcrumb_cn_name}}</li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>