{% load static %}
<footer class="bg-light footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <a href="#" class="footer__logo">
                    
                    <span class="nav-link text-dark">&copy; kiwigoods</span>
                </a>
            </div>
            
            <div class="col-md-6 offset-md-4 col-sm-8 offset-sm-8">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">关于快递</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">隐私政策</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>