{% load static %}

<div class="container-fluid bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="true" aria-label="menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <a class="navbar-brand" href="#">Kiwigoods</a>

            <a class="text-dark" href="">
                <img src="{% static 'libs/open-iconic/svg/cart.svg' %}" alt="cart" width="30" height="30"/>
            </a>
        </nav>
    </div>
</div>

