{% load static %}
<div class="container-fluid">
    <div class="container">
        <nav class="navbar justify-content-center" role="navigation">
            <div class="collapse show navbar-collapse-" id="menu">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">母婴用品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">营养保健</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">护肤用品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">畅销食品</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


